.block__autor {
    padding: 15px;
    margin: 0 35px;
}

.autor--avatar {
    margin: 0 20px 0 0;
}

.autor--figure {
    display: flex;
}

.autor--text {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    color: $text-color;
}

.autor--info {
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: $text-color;
}

.autor--edit {
font-family: $open-sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-decoration-line: underline;
color: $autor-edit;
}

.autor--statList {
    display: flex;
    margin: 15px 0;
}

.autor--statistic {
    list-style-type: none;
    font-family:$open-sans;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: $text-color;
}

.autor--statistic::first-line {
    font-weight: bold;
}

.autor--discription {
    font-family: $open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-align: justify;
}