* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 0 15px;
  background: #F2F2F2;
}

.main__block {
  display: flex;
}