.block__card {
}

.card__list {
  list-style-type: none;
  column-count: 2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__item {
  width: 375px;
  height: 290px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 14px 28px#cbd2d6, 0 10px 10px #cbd2d6;
  margin: 20px;
}

.card__discription {
    padding: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #3E4056;
    margin: 10px 0;
}

.card__shared--info {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #3E4056;
}

.card__shared--span {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
background: #bdbfda;
color: #262627;
}

.card__autor {
  display: flex;
  margin: 0 20px;
}

.card__autor--img {
  width: 20px;
  height: 20px;
}

.card__autor--name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #3E4056;
  margin-right: 100px;
}

.card__span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #F05D63;
}