.card__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__item {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 14px 28px#cbd2d6, 0 10px 10px #cbd2d6;
  margin: 15px;
}

.card__discription {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 44px;
    color: $card-text-color;
    margin: 10px 0;
}

.card__shared--info {
font-family: $open-sans;
font-style: normal;
font-weight: 600;
line-height: 22px;
color: $card-text-color;
}

.card__shared--span {
font-family: $open-sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
background: $card-shared-bg;
color: $card-shared-text-color;
}

.card__autor {
  display: flex;
  margin: 0 20px;
}

.card__autor--img {
  width: 20px;
  height: 20px;
}

.card__autor--name {
  font-family: $open-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color:$card-text-color;
  margin-right: 100px;
}

.card__span {
    font-family:$open-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: $edit-text-color;
}