.card__menu {
    display: flex;
    padding: 20px 0 0;
  }
  .card__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .card__menu a {
    text-decoration: none;
    display: block;
    color: #222;
  }

  .card__menuList {

  }
  
  .card__menuList > li {
    display: inline-block;
    position: relative;
  }
  
  .card__menuList > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 3px;
  }
  
  .card__menuList > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
  }
  .card__menuList li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
  .card__menu--submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
  }
  
  .card__menuList > li:hover .card__menu--submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  .card__menu--submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
  }
  .card__menu--submenu a:hover {
    background: #e8e8e8;
}
.card__submenu--item {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;

color: #3E4056;
}

.card__submenu--icon {
width: 15px;
height: 15px;
margin: 0 5px;
}