@media screen and (max-width: 767px) {
.container {
    width: 320px;
}

.site__logo {
    margin-right: 15px;
}

.main__block {
    display: block;
}

.nav__list {
    display: inline-block;
    width: 30px;
}

.block__autor {
    width: 80%;
}

.autor--avatar {
    width: 80px;
    height: 80px;
}

.autor--text {
    font-size: 18px;
}

.autor--statistic {
    font-size: 14px;
}

.card__discription {
    font-size: 20px;
}

.card__autor--name {
    font-size: 12px;
}
}


@media screen and (min-width: 768px) {
 .container {
    width: 660px;
}

.block__auth {
    margin: 10px 0;
}

.block__auth {
    margin: 5px 0;
}

.nav__list {
    width: 50px;
}

.block__autor {
    width: 50%;
}

.autor--avatar {
    width: 120px;
}

.autor--text {
    font-size: 20px;
}

.autor--statistic {
    font-size: 16px;
}
    
.card__discription {
    font-size: 28px;
}

.card__item {
    width: 280px;
    height: 250px;
}
    
.card__shared--info {
    font-size: 12px;
}

.card__autor--name {
    font-size: 14px;
}
}


@media screen and (min-width: 1200px) {
.container {
    width: 1440px;
}

.block__auth {
    padding: 15px;
    margin: 10px 0;
}

.nav__list {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.block__autor {
    width: 30%;
}

.autor--text {
    font-size: 24px;
}

.autor--statistic {
    padding: 10px;
}

.block__card {
    width: 80%;
}

.card__item {
    width: 375px;
    height: 290px;
}
    
.card__discription {
    padding: 20px;
    font-size: 36px;
}
        
.card__shared--info {
    font-size: 16px;
}
}