.switch__text {
  margin: 0 20px;
  font-family: $open-sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $card-text-color;
}

.switch-btn {
    display: inline-block;
    width: 66px; /* ширина */
    height: 24px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background:#fff;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: '';
    height: 22px; /* высота кнопки */
    width: 22px; /* ширина кнопки */
    border-radius: 18px;
    background: #fff; /* цвет кнопки */
    top: 1px; /* положение кнопки по вертикали относительно основы */
    left: 1px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background:$switch-btn-color;
  }
  .switch-on::after {
    left: 37px;
  }
  