
$text-white-color: #ffffff;
$overlay-color: #f38181;
$social-color: #fce38a;
$hidden-color: #eaffd0;
$icon-color: #95e1d3;
$text-color: #bfbfbf;
$title-color:  #333333;


@import '../sass/fonts.scss';

$nav-title-font: 'Montserrat-Regular', sans-serif;
$banner-text: 'Montserrat-Bold', sans-serif;


